/* GENERAL */
html body {
  margin: 0; }

a {
  color: inherit;
  text-decoration: none; }

button > * {
  pointer-events: none; }

.rotate180 {
  transform: rotate(180deg); }

#content {
  min-height: calc(100vh - 124px); }

.warning {
  color: red; }

/* HEADER */
.header {
  align-items: center;
  background-color: white;
  display: flex;
  height: 70px;
  opacity: 0.85;
  padding-left: 40px;
  position: sticky;
  top: 0; }
  .header__logo {
    cursor: pointer;
    font: bold 24px Rubik, sans-serif;
    transition: font-size 150ms; }
    .header__logo:hover {
      font-size: 28px; }
  .header__nav {
    margin-left: auto;
    display: none; }
  .header__navbars {
    cursor: pointer;
    margin-right: 30px;
    margin-left: auto; }
  .header__link {
    cursor: pointer;
    font: 16px Roboto, sans-serif;
    margin-right: 30px; }
    .header__link:hover {
      color: #4f4f4f; }
  .header__button {
    background-color: inherit;
    border-radius: 6px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    font: 500 16px Roboto, sans-serif;
    height: 43px;
    margin-right: 40px;
    width: 106px; }
    .header__button:hover {
      background-color: #f7f9fb; }
    .header__button:active {
      color: #4f4f4f; }
  @media all and (min-width: 768px) {
    .header__nav {
      display: block; }
    .header__button {
      display: block; }
    .header__navbars {
      display: none; } }

/* FOOTER */
.footer {
  background-color: #3f3d56;
  display: flex;
  flex-direction: column;
  height: 124px;
  padding-left: 40px; }
  @media all and (min-width: 768px) {
    .footer {
      align-items: center;
      flex-direction: row; } }
  @media all and (min-width: 768px) {
    .footer div {
      margin-left: auto; } }
  .footer__copyright {
    font: 16px Roboto, sans-serif;
    color: #ffffff;
    opacity: 0.4; }
  .footer div:last-child {
    margin-right: 21px; }
  .footer__icon {
    cursor: pointer;
    margin-right: 19px; }
    .footer__icon img:hover {
      filter: brightness(0.75); }

/* ABOUT US */
/* FAQ */
.about,
.faq {
  display: flex;
  flex-direction: column; }
  .about__img,
  .faq__img {
    margin: 100px auto 0 auto; }
    @media all and (max-width: 414px) {
      .about__img,
      .faq__img {
        width: 90vw; } }
  .about__heading,
  .faq__heading {
    font: 700 64px Roboto, sans-serif;
    margin: 60px auto 0 auto; }
  .about__description,
  .faq__description {
    font: 400 24px Roboto, sans-serif;
    line-height: 147.3%;
    margin: 30px auto 0 auto;
    max-width: 925px;
    padding: 0 20px;
    text-align: center; }

/* CONTACTS */
.contacts {
  background-color: #f7f9fb;
  display: flex;
  flex-direction: column;
  margin-top: 80px; }
  .contacts__heading {
    font: 500 48px Roboto, sans-serif;
    margin: 60px auto 0 auto; }
  .contacts__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    padding-bottom: 40px; }
    @media all and (min-width: 768px) {
      .contacts__container {
        flex-direction: row;
        margin-top: 40px;
        padding-bottom: 100px; } }
  .contacts__item {
    height: 56px;
    margin-bottom: 20px;
    text-align: center;
    width: 264px; }
    @media all and (min-width: 768px) {
      .contacts__item {
        height: 56px;
        text-align: center;
        width: 264px; } }
  @media all and (min-width: 768px) {
    .contacts__delimiter {
      background: #c8c8cf;
      height: 62px;
      margin: 0 68px;
      width: 1px; } }
  .contacts__caption {
    color: #4f4f4f;
    font: 14px/20.62px Roboto, sans-serif;
    margin: 2px 0; }
  .contacts__method {
    font: 20px/29.46px Roboto, sans-serif;
    margin: 3px 0; }

/* TEAM */
.team {
  display: flex;
  flex-direction: column; }
  .team__heading {
    font: 500 48px Roboto, sans-serif;
    margin: 60px auto 0 auto; }
  .team__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 60px;
    max-width: 1110px; }
    .team__container div {
      height: 260px;
      margin: 38px 30px;
      text-align: center;
      width: 196px; }
    @media all and (min-width: 768px) {
      .team__container {
        margin: 0 auto 120px; } }
  .team__img {
    height: 180px;
    width: 180px; }
  .team__person {
    font: 20px Roboto, sans-serif;
    margin: 22px 0 8px 0; }
  .team__role {
    color: #828282;
    font: 14px/20.62px Roboto, sans-serif;
    margin: 2px 0; }

/* FAQ */
.faq__collapsible {
  display: flex;
  flex-direction: column;
  margin: 30px auto 120px auto;
  width: 70vw; }
  @media all and (min-width: 768px) {
    .faq__collapsible {
      margin: 30px auto 120px auto; } }

.faq__collbutton {
  background-color: #f7f7f8;
  border-radius: 6px;
  border: none;
  display: flex;
  margin-bottom: 15px;
  font: 400 20px/29.49px Roboto, sans-serif;
  justify-content: space-between;
  padding: 18px 22px 18px 22px;
  text-align: left; }
  .faq__collbutton:hover {
    background: rgba(97, 161, 153, 0.1); }
  .faq__collbutton:active {
    color: rgba(97, 161, 153, 0.15); }
  .faq__collbutton_open {
    background: rgba(97, 161, 153, 0.15);
    color: #61a199; }

.faq__chevron {
  margin-left: 30px; }

.faq__answer {
  display: none;
  font: 400 20px/29.49px Roboto, sans-serif;
  margin-bottom: 40px;
  max-width: 784px;
  padding: 0 40px 0 20px; }
  .faq__answer_visible {
    display: block; }

/*# sourceMappingURL=styles.css.map */